.article-show
  .article-show__left
    .article-show__left__heading
      .article-show__left__heading--title
        %p.title #{@article.title}
      .article-show__left__heading--prefecture
        %p.prefecture #{@article.prefecture}
    .article-show__left--image
      = image_tag (@article.image.url), class: "article-show__left--image--style"
    .article-show__left__detail
      .article-show__left__detail--title
        %p.detail-title 概要
      .article-show__left__detail--text
        = @article.detail
    .article-show__left__albums
      %span.album-title> 投稿写真
      .article-show__left__albums__box
        .article-show__left__albums__box--album 1
        .article-show__left__albums__box--album 2
        .article-show__left__albums__box--album 3
        .article-show__left__albums__box--album 4
        .article-show__left__albums__box--album 5
        .article-show__left__albums__box--album もっと見る
  .article-show__right
    .article-show__right--relationtitle 関連エリア
    .article-show__right__relation
      %ul.article-show__right__relation
        %li.article-show__right__relation--menu
          = link_to "全国", root_path(anchor: 'link-btn'), class: "article-show__right__relation--menu--link"
          %i.fas.fa-chevron-right.article-show__right__relation--menu--icon
        %li.article-show__right__relation--menu
          = link_to "関東", "#", class: "article-show__right__relation--menu--link"
          %i.fas.fa-chevron-right.article-show__right__relation--menu--icon
        %li.article-show__right__relation--menu
          = link_to "東京", "#", class: "article-show__right__relation--menu--link"
          %i.fas.fa-chevron-right.article-show__right__relation--menu--icon
    .article-show__right__area このエリアの別の場所
    .article-show__right__box
      - @relation_spots.each do |spot|
        .article-show__right__box--spot
          = link_to "", article_path(spot.id), class:"spot-link"
          = image_tag (spot.image.url), class:"article-show__right__box--spot--image"
          %h5.article-show__right__box--spot--title #{spot.title}