%body
  .cover-container.d-flex.w-100.p-3.mx-auto.flex-column.cover-box
    %header.masthead.mb-auto
      .inner
        %h2.masthead-brand
          Precious memories only for you
    %script{:src => "http://code.jquery.com/jquery-3.2.1.min.js"}
    :javascript
      $(function(){
        $('#myfile').change(function(e){
          var file = e.target.files[0];
          var reader = new FileReader();
          if(file.type.indexOf("image") < 0){
            alert("画像ファイルを指定してください。");
            return false;
          }
          reader.onload = (function(file){
            return function(e){
              $("#img1").attr("src", e.target.result);
              $("#img1").attr("title", file.name);
            };
          })(file);
          reader.readAsDataURL(file);
        });
      });
    %main.inner.cover{:role => "main"}
      %h1.cover-heading Collect important moments in one book
      %p.lead You can easily create Only one album in the world just by selecting the title and cover.
      %p.lead.form-group
        = form_for picture do |f|
          = f.text_field :title, class: "form-control"
          %br/
          = f.file_field :image, id: "myfile"
          %br/
          %img#img1{:style => "width:450px;height:350px;"}/
          %br/
          = f.submit "create", class: 'btn btn-lg btn-secondary'
    %footer.mastfoot.mt-auto
      .inner
        %p
          Cover template for
          = succeed "," do
            %a{:href => "https://getbootstrap.com/"} Bootstrap
          = succeed "." do
            %a{:href => "https://twitter.com/mdo"} @mdo
